<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body>
    <div class="h-screen flex">
        <div class="w-72 bg-gray-800">
        </div>
        <div class="flex-1 bg-gray-100">
            <!-- Navbar -->
            <div class="bg-white px-4 py-2.5 flex items-center justify-between">
                <div
                    class="w-1/3 px-4 py-1.5 flex items-center gap-x-2 bg-gray-200 rounded-lg ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 stroke-2 stroke-gray-500" viewBox="0 0 24 24"
                        stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                        <path d="M21 21l-6 -6"></path>
                    </svg>
                    <input type="text" placeholder="Search any keyword"
                        class="text-sm text-gray-800 placeholder:text-gray-500 leading-6 flex-1 bg-transparent focus:outline-none">
                    <button type="button" class="px-2 py-1 bg-white flex items-center rounded text-sm text-gray-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 stroke-2 stroke-gray-500"
                            viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M7 9a2 2 0 1 1 2 -2v10a2 2 0 1 1 -2 -2h10a2 2 0 1 1 -2 2v-10a2 2 0 1 1 2 2h-10">
                            </path>
                        </svg>
                        F
                    </button>
                </div>
                <div class="flex items-center divide-x">
                    <button type="button" class="px-4 py-1 hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-2 stroke-gray-500"
                            viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6">
                            </path>
                            <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                        </svg>
                    </button>
                    <div class="px-4 flex items-center gap-x-4">
                        <div class="p-1 bg-gray-800 rounded-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-2 stroke-gray-200"
                                viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                            </svg>
                        </div>
                        <div class="text-sm leading-5">
                            <h4 class="text-gray-700 font-medium">Derol Hakim</h4>
                            <span class="text-gray-500">Project Manager</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->
            <!-- Start Content -->
            <div class="p-4 bg-gray-100">

            </div>
            <!-- End Content -->
        </div>
    </div>
</body>

</html>